body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 100%;
}

section{
    width: 60%;
    float: left;
    
}
p{
    background: #c0c0c0;
}

aside{
    width: 30%;
    float: left;
}

footer{
    clear: both;
   text-align: center;
}
